

#cd352 .If {
  color: #16976D;
}
#ve315 .GraphDataStyleDefault {
  fill-color: #43D09D;
}
#ve288 .GraphDataStyleDefault {
  fill-color: #B14C51;
}
#ve300 .paragraph1 {
  text-align: center;
}
#ve300 .paragraph2 {
  text-align: center;
}
#ve337 .ReportElementContainer {
  padding: 0px;
}
#ve306 .span2 {
  color: #B14C51;
  font-weight: bold;
  font-size: 20pt;
}
#ve306 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve300 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve300 .span2 {
  color: #B14C51;
  font-weight: bold;
  font-size: 20pt;
}
#ve378 .ReportElementContainer {
  padding: 0px;
}
#ve300 .span3 {
  color: #2470AD;
  font-weight: bold;
  font-size: 20pt;
}
#ve306 .span3 {
  color: #B14C51;
  font-weight: bold;
  font-size: 20pt;
}
#ve294 .span4 {
  font-weight: bold;
  font-size: 20pt;
}
#ve294 .span3 {
  color: #B14C51;
  font-weight: bold;
  font-size: 20pt;
}
#cd354 .If {
  color: #16976D;
}
#ve178 .ReportElementContainer {
  padding: 10px;
}
#ve168 .ReportElementContainer {
  padding: 0px;
}
#ve324 .GraphDataStyleDefault {
  fill-color: #43D09D;
}
#ve278 .GraphDataStyleDefault {
  fill-color: #43D09D;
}
#ve288 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve288 .GraphSkin {
  data-skin: FLAT;
}
#ve335 .span1 {
  color: #B14C51;
  font-weight: bold;
  font-size: 20pt;
}
#ve324 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve288 .GraphDataStyle1 {
  fill-color: #B14C51;
}
#ve251 .styleForTitle_span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve315 .styleForTitle_span1 {
  font-weight: bold;
}
#cd356 .If {
  color: #FFCC32;
}
#ve315 .GraphDataStyle3 {
  fill-color: #FCDD7C;
}
#ve324 .styleForTitle_span1 {
  font-weight: bold;
}
#ve372 .Container {
  background-color: #E9ECEF;
  transparency: 0.22;
}
#ve315 .GraphDataStyle2 {
  fill-color: #E99596;
}
#ve315 .GraphDataStyle1 {
  fill-color: #43D09D;
}
#ve278 .styleForTitle_span1 {
  font-weight: bold;
}
#ve315 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve306 .paragraph1 {
  text-align: center;
}
#ve306 .paragraph2 {
  text-align: center;
}
#ve270 .styleForTitle_span1 {
  font-weight: bold;
}
#ve335 .ReportElementContainer {
  padding: 0px;
}
#ve360 .paragraph11 {
  text-align: center;
}
#ve360 .paragraph10 {
  text-align: center;
}
#ve365 .paragraph1 {
  text-align: left;
}
#ve365 .paragraph2 {
  text-align: left;
}
#ve365 .paragraph3 {
  text-align: left;
}
#cd358 .If {
  color: #16976D;
  font-size: 18;
}
#ve365 .paragraph4 {
  text-align: left;
}
#ve365 .paragraph5 {
  text-align: left;
}
#ve365 .paragraph6 {
  text-align: left;
}
#ve365 .paragraph7 {
  text-align: left;
}
#ve365 .span5 {
  font-weight: bold;
  font-size: 14pt;
}
#ve365 .paragraph8 {
  text-align: left;
}
#ve365 .span4 {
  font-weight: bold;
  font-size: 14pt;
}
#ve365 .paragraph9 {
  text-align: left;
}
#ve365 .span7 {
  font-weight: bold;
  font-size: 14pt;
}
#ve270 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve365 .span6 {
  font-size: 14pt;
}
#ve365 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve365 .span3 {
  font-weight: bold;
  font-size: 14pt;
}
#ve365 .span2 {
  font-size: 14pt;
}
#ve360 .span2 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .paragraph5 {
  text-align: center;
}
#ve360 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .paragraph6 {
  text-align: center;
}
#ve360 .paragraph7 {
  text-align: center;
}
#ve178 .span1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12pt;
}
#ve260 .GraphDataStyleDefault {
  fill-color: #B14C51;
}
#ve360 .paragraph8 {
  text-align: center;
}
#ve365 .span9 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .paragraph9 {
  text-align: center;
}
#ve365 .span8 {
  font-size: 14pt;
}
#ve260 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve360 .span11 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .span10 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .paragraph1 {
  text-align: center;
}
#ve360 .paragraph2 {
  text-align: center;
}
#ve360 .span12 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .paragraph3 {
  text-align: center;
}
#ve360 .paragraph4 {
  text-align: center;
}
#ve178 .paragraph1 {
  text-align: center;
}
#ve260 .GraphSkin {
  data-skin: FLAT;
}
#ve294 .paragraph1 {
  text-align: center;
}
#ve294 .paragraph2 {
  text-align: center;
}
#ve360 .span9 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .span8 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .span7 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .span6 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .span5 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .span4 {
  font-weight: bold;
  font-size: 14pt;
}
#ve360 .span3 {
  font-weight: bold;
  font-size: 14pt;
}
#ve370 .paragraph1 {
  text-align: center;
}
#cd348 .If {
  color: #16976D;
}
#ve324 .GraphDataStyle1 {
  fill-color: #43D09D;
}
#ve294 .span2 {
  color: #B14C51;
  font-weight: bold;
  font-size: 20pt;
}
#ve294 .span1 {
  font-weight: bold;
  font-size: 14pt;
}
#ve324 .GraphDataStyle2 {
  fill-color: #E99596;
}
#ve324 .GraphDataStyle3 {
  fill-color: #FCDD7C;
}
#ve365 .paragraph10 {
  text-align: left;
}
#ve365 .paragraph11 {
  text-align: left;
}
#ve260 .GraphDataStyle6 {
  fill-color: #B14C51;
}
#ve260 .GraphDataStyle1 {
  fill-color: #B14C51;
}
#ve278 .GraphDataStyle1 {
  fill-color: #43D09D;
}
#ve278 .GraphDataStyle3 {
  fill-color: #E99596;
}
#ve278 .GraphDataStyle2 {
  fill-color: #FCDD7C;
}
#ve278 .styleForTitle_paragraph1 {
  text-align: center;
}
#cd350 .If {
  color: #16976D;
}
#ve288 .styleForTitle_span1 {
  font-weight: bold;
}
#ve335 .paragraph1 {
  text-align: center;
}
#ve251 .ButtonBar {
  selected-background-color: #2470AD;
  selected-color: #FFFFFF;
}
#ve378 .span2 {
  color: #0379CE;
  font-size: 14pt;
}
#ve378 .paragraph1 {
  text-align: center;
}
#ve260 .styleForTitle_span1 {
  font-weight: bold;
}
#ve378 .span1 {
  color: #0379CE;
  font-weight: bold;
  font-size: 14pt;
}
#ve370 .span1 {
  font-weight: bold;
  font-size: 14pt;
}

			